.form-modal {
    position: fixed;
    top: 401px !important;
    left: 18px !important;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    width: 420px !important;
    max-width: 500px;          /* limit width on large screens */
    max-height: 91.2vh;          /* fit inside the screen vertically */
    overflow-y: auto;          /* allow scrolling inside modal */
}


.form-modal h2 {
    margin-top: 0;
    font-size: 24px;
}

.form-modal label {
    display: block;
    margin-bottom: 15px;
}

.form-modal input[type="text"],
.form-modal textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-modal textarea {
    height: 100px;
    resize: none;
}

.location_button {
    background-color: #0077c0;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.select-location-message {
  font-size: 12px;
}

.form-modal button[type="submit"] {
    background-color: #0077c0;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.cancel_button:hover {
    background-color: rgb(193, 2, 2);
}

.cancel_button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.form-modal button[type="submit"]:hover {
    background-color: #005d99;
}

.open-form-button {
    background-color: #007bff !important;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin-top: 10px; */
    padding-left: 10px;

}

.open-form-button:hover {
    background-color: #0069d9 !important;
}


/* file upload button*/
.form-modal input[type="file"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    z-index: 1001;
    /* transition: color 0.3s ease; */
}

.close-modal-button:hover {
    color: #333;
}