.home-container {
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
}



.main {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 20px; /* Set spacing between grid items */
    padding: 20px;
    margin: 0 auto; /* Center align */
    width: calc(100% - 60px); /* Ensure width adapts */
    box-sizing: border-box;
    transition: margin-left 0.3s ease; /* Smooth transition effect */
}

