.layer-panel {
    position: fixed;
    top: 65px;
    left: 60px;
    width: 350px;
    height: calc(100vh - 65px);
    background: #222;
    color: #fff;
    z-index: 1100;
    box-shadow: -2px 0 8px rgba(0,0,0,0.15);
    padding: 20px;
    transition: right 0.3s;
    overflow-y: auto;
}

.layer-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layer-panel-close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}