.layer-panel {
    position: fixed;
    top: 65px;
    left: 60px;
    width: 350px;
    height: calc(100vh - 65px);
    background: #222;
    color: #fff;
    z-index: 1100;
    box-shadow: -2px 0 8px rgba(0,0,0,0.15);
    padding: 20px;
    transition: right 0.3s;
    overflow-y: auto;
}

.layer-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layer-panel-close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.add-custom-filters-button {
    background-color: #ff9800; /* Orange background */
    color: white; /* White text */
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Add spacing from other elements */
}

.add-custom-filters-button:hover {
    background-color: #e68900; /* Darker orange on hover */
}

.form-modal {
  position: absolute;
  top: 50%;
  left: 40%;
  right: auto;
  bottom: auto;
  transform: translate(10%, -50%);
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}