/* main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
} */

main {
  display: grid;
  grid-template-columns: 1fr; /* Map occupies the entire main content area */
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
  margin: 0 auto;
  width: calc(100% - 360px); /* Account for the width of the right sidebar and card container */
  height: calc(100vh - 65px); /* Ensure height fits the viewport */
  box-sizing: border-box;
  transition: margin-left 0.3s ease, width 0.3s ease; /* Add smooth transition effects */
}

.sidebar.open + main {
  margin-left: 300px; /* Adjust left margin when the left sidebar is open */
  width: calc(100% - 660px); /* Adjust width to fit both left and right sidebars */
}