/* .navbar {
    background-color: #4D4D4D;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: 1000;
}


.navbar h1 {
    color: #FFFFFF;
} */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    padding: 2px 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: grey;
    color: white;
}

.navbar h1 {
    color: white;
    margin: 0;
    padding: 6px 12px;
    font-size: 20px;
}

/* Responsive behavior */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        padding: 12px;
    }
}
