.navbar {
    background-color: #4D4D4D;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: 1000;
}
  
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
    font-weight: 600;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar a:hover {
    color: #FFFFFF;
    background-color: #4D4D4D;
    text-decoration: underline;
}

.navbar h1 {
    color: #FFFFFF;
}